.virtual_documents
.ipynb_checkpoints
__pycache__
.vscode
.idea

wandb

*.pkl
*.pth
*.aux
*.blg
*.log
*.out
*.bbl
*.synctex.gz

embeddings/*
!embeddings/.placeholder

checkpoints/*
!checkpoints/.placeholder

logs/*
!logs/.placeholder